/* Fonts definitions */
// Custom roboto font

@mixin font-face($name, $style, $weight) {
  @font-face {
    $full-path: "#{$roboto-font-path}/#{$name}-#{$style}-#{$weight}";
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: url($full-path+$ext) format($fmt);
  }
};

$ext: ".woff";
$fmt: "woff";

@include font-face(Roboto, normal, 100);
@include font-face(Roboto, normal, 300);
@include font-face(Roboto, normal, 400);
@include font-face(Roboto, normal, 500);
@include font-face(Roboto, normal, 700);
@include font-face(Roboto, normal, 900);
@include font-face(Roboto, italic, 100);
@include font-face(Roboto, italic, 300);
@include font-face(Roboto, italic, 400);
@include font-face(Roboto, italic, 500);
@include font-face(Roboto, italic, 700);
@include font-face(Roboto, italic, 900);

@include font-face(RobotoCondensed, normal, 300);
@include font-face(RobotoCondensed, normal, 400);
@include font-face(RobotoCondensed, normal, 700);
@include font-face(RobotoCondensed, italic, 300);
@include font-face(RobotoCondensed, italic, 400);
@include font-face(RobotoCondensed, italic, 700);
