@import "~/materialize-css/sass/components/variables";

// Colors
$white: #ffffff;
$link-color: #427fed;

// Header bar
$module-title-fontsize: 1.3em;

// Fonts
$roboto-font-path: "../assets/font/roboto";
