@charset "utf-8";

@import "materialize";

// Commons styles
body {
  background-color: #ececec;
  //overflow-y: scroll;
}

html, body, .wrapper {
  height: 100%;
}

// Clean link outline
a {
  &,
  &:active,
  &:focus,
  &:hover {
    outline: 0 none;
    cursor: pointer;
  }
}
